Tempus.xcodeproj/xcshareddata/
.xcconfig
Secrets.xcconfig
.envrc
Secrets.env
Tempus/Secrets.swift
Tempus/tempData.csv
*.csv
Tempus.xcodeproj/project.xcworkspace/xcuserdata/
Tempus.xcodeproj/xcuserdata/marcellfulop.xcuserdatad/xcdebugger/*
Tempus.xcodeproj/project.xcworkspace/xcshareddata/
*.ipa
fastlane/test_reports/
fastlane/test_output/*
fastlane/report.xml
Tempus.app.dSYM.zip
